# 排除vscode配置文件
/.vscode
# 排除cache文件
__pycache__/
# 排除模型文件
/detectors
/extra_data
# 排除测试代码
/ros_control/full_arm.py
/ros_control/test_ctr.py
/ros_control/test_move.py
/full_body.py
/full_mocap.py
/img2pose.py
/mocap.py
# 排除数据集和输出文件
/mocap_output
/output_images
/sample_data
/ssss
/test_data
/ttt